.calculator-App{
    height: 400px;
    width: 400px;
    border: 5px solid red;
    padding: 5px;
    border-radius: 12px; 
    background-color:black;

}
.burgerColor{
    color: brown;
    margin-left: 8px;  
      
}
.Heading{
    margin-left: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    
}